

IF OBJECT_ID (N'dbo.EASKMDZB') IS NOT NULL
	DROP TABLE dbo.EASKMDZB
GO

CREATE TABLE dbo.EASKMDZB
	(
	  ID   INT IDENTITY NOT NULL
	, Note NVARCHAR (255) NULL
	, FS   NVARCHAR (255) NULL
	, CONSTRAINT PK_EASKMDZB PRIMARY KEY (ID)
	)
GO




IF OBJECT_ID (N'dbo.TBFS') IS NOT NULL
	DROP TABLE dbo.TBFS
GO

CREATE TABLE dbo.TBFS
	(
	  ProjectID   VARCHAR (100) NOT NULL
	, FSCode      VARCHAR (50) NOT NULL
	, FsName      VARCHAR (100) NOT NULL
	, FSType      INT NOT NULL
	, TBType      INT NOT NULL
	, IsMx        INT NOT NULL
	, Kmsx        VARCHAR (100) NOT NULL
	, Yefx        INT DEFAULT ((1)) NOT NULL
	, TBGrouping  VARCHAR (50) NOT NULL
	, Sqqmye      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, Qqccgz      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, jfje        DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje        DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, CrjeJF      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, CrjeDF      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, AjeJF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, AjeDF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, RjeJF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, RjeDF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, TaxBase     DECIMAL (20, 2) NOT NULL
	, YearEarlier DECIMAL (20, 2) NOT NULL
	, PY1         DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, PyTaxBase   DECIMAL (20, 2) NOT NULL
	, Random      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, GrossPretax INT DEFAULT ((1)) NOT NULL
	, jfje1       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje1       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, jfje2       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje2       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, Memo        NVARCHAR (500) NOT NULL
	, CONSTRAINT PK_TBFS PRIMARY KEY (ProjectID, FSCode)
	)
GO

IF OBJECT_ID (N'dbo.Pack_TBFS') IS NOT NULL
	DROP TABLE dbo.Pack_TBFS
GO

CREATE TABLE dbo.Pack_TBFS
	(
	  ProjectID   VARCHAR (100) NOT NULL
	, FSCode      VARCHAR (50) NOT NULL
	, FsName      VARCHAR (100) NOT NULL
	, FSType      INT NOT NULL
	, TBType      INT NOT NULL
	, IsMx        INT NOT NULL
	, Kmsx        VARCHAR (100) NOT NULL
	, Yefx        INT DEFAULT ((1)) NOT NULL
	, TBGrouping  VARCHAR (50) NOT NULL
	, Sqqmye      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, Qqccgz      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, jfje        DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje        DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, CrjeJF      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, CrjeDF      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, AjeJF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, AjeDF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, RjeJF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, RjeDF       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, TaxBase     DECIMAL (20, 2) NOT NULL
	, YearEarlier DECIMAL (20, 2) NOT NULL
	, PY1         DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, PyTaxBase   DECIMAL (20, 2) NOT NULL
	, Random      DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, GrossPretax INT DEFAULT ((1)) NOT NULL
	, jfje1       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje1       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, jfje2       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, dfje2       DECIMAL (20, 2) DEFAULT ((0)) NOT NULL
	, Memo        NVARCHAR (500) NOT NULL
	, CONSTRAINT PK_Pack_TBFS PRIMARY KEY (ProjectID, FSCode)
	)
GO
 
INSERT INTO Pack_TBFS (ProjectID, FSCode, FsName, FSType, TBType, IsMx, Kmsx, Yefx, TBGrouping, Sqqmye, Qqccgz, jfje, dfje, CrjeJF, CrjeDF, AjeJF, AjeDF, RjeJF, RjeDF, TaxBase, YearEarlier, PY1, PyTaxBase, Random, GrossPretax, jfje1, dfje1, jfje2, dfje2, Memo) VALUES ('audCas', '50000', '资产', 1, 1, 0, '5', 1, '', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, '')
GO
INSERT INTO Pack_TBFS (ProjectID, FSCode, FsName, FSType, TBType, IsMx, Kmsx, Yefx, TBGrouping, Sqqmye, Qqccgz, jfje, dfje, CrjeJF, CrjeDF, AjeJF, AjeDF, RjeJF, RjeDF, TaxBase, YearEarlier, PY1, PyTaxBase, Random, GrossPretax, jfje1, dfje1, jfje2, dfje2, Memo) VALUES ('audCas', '50100', '流动资产', 1, 2, 0, '5', 1, '50000', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, '')
GO
INSERT INTO Pack_TBFS (ProjectID, FSCode, FsName, FSType, TBType, IsMx, Kmsx, Yefx, TBGrouping, Sqqmye, Qqccgz, jfje, dfje, CrjeJF, CrjeDF, AjeJF, AjeDF, RjeJF, RjeDF, TaxBase, YearEarlier, PY1, PyTaxBase, Random, GrossPretax, jfje1, dfje1, jfje2, dfje2, Memo) VALUES ('audCas', '50200', '非流动资产', 1, 2, 0, '5', 1, '50000', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, '')
GO


--EASKMDZB

INSERT INTO EASKMDZB (Note, FS) VALUES ('库存现金', '货币资金')
GO
INSERT INTO EASKMDZB (Note, FS) VALUES ('现金', '货币资金')
GO
INSERT INTO EASKMDZB (Note, FS) VALUES ('银行存款', '货币资金')
GO
