<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="EAS.ConnectionString" value="Server=192.168.1.33;Database={0};User ID=sa;Password=mDEE5PgH;Pooling=true;Max Pool Size=1024;Min Pool Size=16;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true"/>-->
    <add key="ConString" value="Server=.;Database=master;User ID=sa;Password=sa;Pooling=true;Max Pool Size=1024;Min Pool Size=16;Connect Timeout=30;Connection Lifetime=30;Asynchronous Processing=true" />
  </appSettings>
</configuration>